header {
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 4rem;
    padding: 0 1em;
}

.input_form {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

.form_container {
    width: 100%;
    display: flex;
    align-items: center;
    background: lightgray;
    margin: 0 0 0 1em;
    border-radius: 0.1em;
}

.logo {
    width: 3rem;
    height: 3rem;
    cursor: pointer;
}

.input_text, .input_text:focus {
    border: none;
    background: transparent;
    font-size: 1.2rem;
    flex-basis: 100%;
    height: 3rem;
    padding: 0 0.5em;
    outline: 0;
}

.clear {
    margin-right: 0.3em;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.7rem;
    display: inline-block;
    width: 2rem;
    height: 100%;
}

.submit_button {
    background: none;
    border: none;
    cursor: pointer;
}

.search {
    object-fit: contain;
    width: 4rem;
    height: 3rem;
    padding: 0.6em 0.6em;
    border-radius: 0.1em;
}