.main {
    max-width: 100rem;
    min-width: 50rem;
}

.contents {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.detail {
    flex: 1 1 60%;
    width: 100%;
}

.list {
    flex: 1 0 30rem;
    /*flex: 0 0 30rem;*/
    /*flex-basis: 30rem;*/
    min-width: 30rem;
    width: 100%;
}

@media screen and (max-width: 70rem) {
    .contents {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .list {
        /*flex: 1 1 40%;*/
        flex-basis: 30rem;
        min-width: 30rem;
        width: 100%;
    }
}
