.video {
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: 250ms ease-in-out;
    padding: 0.2em;
}

.side {
    width: 50%;
}

@media screen and (max-width: 70rem) {
    .side {
        width: 100%;
    }
}

.main {
    width: 100%;
}

.video:hover {
    transform: scale(1.01);
}

.thumbnail {
    display: block;
    margin-right: 1em;
}

.thumbnail_default {
    width: 320px;
    height: 180px;
}

.thumbnail_small {
    width: 120px;
    height: 90px;
}

.snippet {
    /*width: 640px;*/
    display: flex;
    flex-direction: column;
}

.description {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    width: 100%;
    height: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0.5em 0;
}

.title {
    padding: 0.5em 0;

}

.channel {
    padding: 0.5em 0;
    font-size: 0.9rem;
}

.kind {
    padding: 0.5em 0;
    font-size: 0.4rem;
}